################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGFX-HW-Teensy4.1/.vs/MyGFX-HW-Teensy4.1/FileContentIndex
/.vs/MyGFX-HW-Teensy4.1/FileContentIndex/74b334ee-3c6d-43e2-b3a4-f7563cd0fc4d.vsidx
/.vs/MyGFX-HW-Teensy4.1/FileContentIndex/b39a67dd-2ce9-4ab4-b947-ae39bd5d769e.vsidx
/.vs/MyGFX-HW-Teensy4.1/FileContentIndex/aef5573c-7f40-4376-b99c-ae98ff8b0ce5.vsidx
/.vs/MyGFX-HW-Teensy4.1
