################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGFX-HW-Teensy4.1/.vs/MyGFX-HW-Teensy4.1/FileContentIndex
